@font-face {
    font-family: 'gentonabook';
    src: url('../fonts/rene_bieder_-_gentona_book-webfont.eot');
    src: url('../fonts/rene_bieder_-_gentona_book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rene_bieder_-_gentona_book-webfont.woff') format('woff'),
         url('../fonts/rene_bieder_-_gentona_book-webfont.ttf') format('truetype'),
         url('../fonts/rene_bieder_-_gentona_book-webfont.svg#gentonabook') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gentona_bookbold';
    src: url('../fonts/rene_bieder_-_gentona_bold-webfont.eot');
    src: url('../fonts/rene_bieder_-_gentona_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rene_bieder_-_gentona_bold-webfont.woff') format('woff'),
         url('../fonts/rene_bieder_-_gentona_bold-webfont.ttf') format('truetype'),
         url('../fonts/rene_bieder_-_gentona_bold-webfont.svg#gentona_bookbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gentonalight';
    src: url('../fonts/rene_bieder_-_gentona_light-webfont.eot');
    src: url('../fonts/rene_bieder_-_gentona_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rene_bieder_-_gentona_light-webfont.woff') format('woff'),
         url('../fonts/rene_bieder_-_gentona_light-webfont.ttf') format('truetype'),
         url('../fonts/rene_bieder_-_gentona_light-webfont.svg#gentonalight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'quadonmedium';
    src: url('../fonts/rene_bieder_-_quadon_medium-webfont.eot');
    src: url('../fonts/rene_bieder_-_quadon_medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rene_bieder_-_quadon_medium-webfont.woff') format('woff'),
         url('../fonts/rene_bieder_-_quadon_medium-webfont.ttf') format('truetype'),
         url('../fonts/rene_bieder_-_quadon_medium-webfont.svg#quadonmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}